*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    width: 100%;
    min-height: 250vh;
   background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    margin-top:30px;
    width:100%;
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;

    padding:120px 20px;
    background:url("photo.jpg") center/cover no-repeat;

    text-align:center;
    color:white;
}
.container h2{
    font-size: 36px;
    font-weight: 600;
    color: rgb(195, 64, 75);
    margin-bottom: 10px;
}
.container p{
    font-size: 14px;
    font-weight: 200;
    color: white;
    margin-bottom: 10px;
}
.searchBox{
    display:flex;
    justify-content: center;
}
#searchinput{
    border-radius: 5px 0 0 5px;
    padding: 5px;
    border:0;
    font-size: 10px;
    outline: none;
}
#searchbtn{
    width: 60px;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    background-color: rgb(232, 90, 102);
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 10px;
}
#notfound{
    text-align: center;
    margin-top: 0px;
    font-size: 20px;
    color: white;
}
.recipes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:20px;
    justify-content: center;
    margin: 20px;
}
.recipe-card{
    width: 200px;
    position: relative;
    padding: 20px;
    margin-top:20px;
    border-radius: 7px;
    background-color: white;
    text-align: center;
}
.recipe-card img{
    width: 100%;
    height: 120px;
    border-radius: 7px;
    margin-bottom: 10px;
}
.recipe-card p{
    font-size: 12px;
    color: rgb(81, 78, 78);
}
.recipe-card button{
    padding: 4px 10px;
    background-color: #B11226;
    color: white;
    border: 0;
    border-radius: 4px;
    margin:10px 0;
    cursor: pointer;

}
.category{
    width:100%;
    max-width:600px;
    height:130px;
    margin:30px auto;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}
.category .dishes{
    position:absolute;
    width:100%;
    display:flex;
    justify-content:center;
    gap:10px;
    transition:transform 0.8s ease;
}
.dishes input{
     min-width:80px;
    height:34px;
    background:#e85a66;
    color:white;
    border:none;
    border-radius:22px;
    cursor:pointer;
    font-size:14px;
}
.dishes input:hover{
    background-color: rgb(158, 155, 155);
    color:black;
}
.category button{
     background-color: transparent;
    font-size: 26px;
    border: none;
    cursor: pointer;
}
#nextBtn,#prevBtn{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:none;
    border:none;
    font-size:26px;
    color:white;
    cursor:pointer;
    z-index:5;
}
#prevBtn{
    left:5px;
}

#nextBtn{
    right:5px;
}

.popup-card{
    background:white;
    position: fixed;
    top:50%;
    left:50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius:8px ;
    overflow: auto;
    z-index: 10;
    border:2px solid  rgb(232, 90, 102);
    display: none;
    overflow-y:auto ;
   
}
.popup-card h3{
    margin:12px 0;
    top:30px;
    color: rgb(86, 83, 83);
    font-size: 22px;
}
.popup-card p{
    margin:10px 0;
    color: rgb(0, 0, 0);
    font-size: 16px;
    max-height:280PX ;
    padding-right: 10px;
    margin-bottom: 10px;
}
.close-btn{
    top:5px;
    right: 10px;
    background-color: rgb(232, 90, 102);
    color:white;
    padding: 5px;
    border:0;
    border-radius: 6px;
    cursor: pointer;
    position: fixed;

}
.ingredients{
    margin:10px 0 15px 18px;
    font-size:12px;
}
#ingredientsList{
    margin-bottom: 4px;
}
@media screen and (max-width:600px){
   .category{
        height:120px;
        padding:0 35px; /* space for arrows */
    }

    #prevBtn,
    #nextBtn{
        font-size:22px;
    }

    .dish{
        min-width:70px;
        height:30px;
        font-size:12px;
    }
    .container{
        padding:90px 15px;
    }

    .container h2{
        font-size:26px;
    }

    .container p{
        font-size:8px;
    }
}
